.banner
{
    background-color: blueviolet;
    color: antiquewhite;
    margin-top: 75px;
    text-align: center;
    padding: 80px 0;
}

#profilePic
{
    height: 200px;
    width: 200px;
}

#DSTitle
{
    color: blueviolet;
    font-size: 60px;
    text-align: center;
}

.tipTitle
{
  text-decoration: underline;
  font-size:25px;

}

.codeExample
{
  color: blueviolet;
  font-weight: 900;
}

.bold
{
    font-weight: 900;
}
